#coverflow h2 {
    padding-bottom: 25px;
    color: #1077a5;
}

@keyframes buttonAnimate {
    0% {
        background-color: #009988;
    }

    25% {
        background-color: #c14000;
    }

    50% {
        background-color: #ffa500;
    }

    100% {background-color: #009988;}
}

/*.btn:hover {
    background: #009988;
    border-color: transparent;*//*
    -may add color chnage back in
    animation-name:buttonAnimate;
    animation-duration: 4s;*/
    /*transform: rotate(360deg);
    animation-delay: 0.5s;
}*/

@import url("https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap");

*,
*:before,
*:after {
    box-sizing: border-box;
    position: relative;
    letter-spacing: 0.04em;
}


.section {
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 0;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 40px;
    line-height: 1.2;
    margin: 0;
}

.revealUp {
    opacity: 0;
    visibility: hidden;
}

.spacer {
    height: 50vh;
    background-color: #000;
}


