@{
    ViewData["Title"] = "Team";
}

<!-- about header section -->
	
	<div id="about-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12"></div>
			</div>
		</div>
	</div>

<!-- team section -->
<div id="team">
	<div class="container">
    
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-sm-12">
				<h2>Meet the team!</h2>
			</div>
         </div>
         
         <div class="row mt30">
			<div class="col-md-4 col-sm-6 col-xs-9">
				<div class="team-wrapper">
					<img src="~/images/Brice_Paquette.jpg" class="img-responsive" alt="team img">
					<h3>Brice Paquette</h3>
					<h4>Full Stack Developer</h4>
					<p>
						<a href="http://www.bricepaquette.com" target="_blank" class="btn btn-default">Visit Website!</a>
					</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-9">
				<div class="team-wrapper">
					<img src="~/images/Evan_Noel.jfif" class="img-responsive" alt="team img">
					<h3>Evan Noel</h3>
					<h4>Full Stack Developer</h4>
					<p>
						<a href="http://www.evannoeldev.com" target="_blank" class="btn btn-default">Visit Website!</a>
					</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-9">
				<div class="team-wrapper">
					<img src="~/images/Colson_Donner.jfif" class="img-responsive" alt="team img">
					<h3>Colson Donner</h3>
					<h4>Full Stack Developer</h4>
					<p>
						<a href="http://www.colsondonnerdev.com" target="_blank" class="btn btn-default">Visit Website!</a>
					</p>
				</div>
			</div>
         	<div class="col-md-4 col-sm-6 col-xs-9">
				<div class="team-wrapper">
					<img src="~/images/natalie.jfif" class="img-responsive" alt="team img">
					<h3>Natalie Kuechler</h3>
					<h4>Full Stack Developer</h4>
					<p>
						<a href="http://www.natalielk.com" target="_blank" class="btn btn-default">Visit Website!</a>
					</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-9">
				<div class="team-wrapper">
					<img src="~/images/team2.jpg" class="img-responsive" alt="team img">
					<h3>Aaron Schmitt</h3>
					<h4>Full Stack Developer</h4>
					<p>
						<a href="http://www.aaronfschmitt.com" target="_blank" class="btn btn-default">Visit Website!</a>
					</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-9">
				<div class="team-wrapper">
					<img src="~/images/Sean_Rice.jfif" class="img-responsive" alt="team img">
					<h3>Sean Rice</h3>
					<h4>Full Stack Developer</h4>
					<p>
						<a href="http://www.thatssean.com" target="_blank" class="btn btn-default">Visit Website!</a>
					</p>
				</div>
			</div>
         </div>
		
	</div>
</div>		
