@{
    ViewData["Title"] = "Home Page";
}

<!-- home section -->
<div id="home">
</div>


<!-- about section -->
<div id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<img src="images/MyPicture.JPG" class="img-responsive" alt="about img">
			</div>
			<div class="col-md-8 col-sm-8 about-des text-center">
				<h2>A little about myself!</h2>
				<p>
					Hi! My name is Jeffrey Cundiff. I have worked in the Hospitality/Customer Service industry for the past several years.
					Most recently I was Assistant Manager at QuikTrip. During my time in that role I learned
					many skills I can take with me for my future career as a full stack developer. Talking with
					IT professionals to troubleshoot software issues for software we had in our stores is when
					I discovered my interest and passion for software development and coding. Since then I am
					now pursuing my goal to be a full stack developer at Centriq Training.
				</p>
				<a href="contact.html" class="btn btn-default">Contact Me!</a>
			</div>
		</div>
	</div>
</div>


<!-- divider section -->
<div class="divider">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="divider-wrapper divider-one">
					<i class="fa fa-laptop"></i>
					<h2>Front-end</h2>
					<ul class="text-center">
						<li><strong>HTML5</strong></li>
						<li><strong>CSS</strong></li>
						<li><strong>JavaScript</strong></li>
						<li><strong>jQuery</strong></li>
						<li><strong>ReactJS</strong></li>
						<li><strong>Responsive/Web Development</strong></li>
					</ul>

				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="divider-wrapper divider-two">
					<i class="fa fa-mobile"></i>
					<h2>Middle/Back-end</h2>
					<ul>
						<li><strong>C# Fundamentals</strong></li>
						<li><strong>.NET Core MVC</strong></li>
						<li><strong>LinQ</strong></li>
						<li><strong>SQL Server</strong></li>
						<li><strong>ADO.NET</strong></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4 col-sm-12">
				<div class="divider-wrapper divider-three">
					<i class="fa fa-life-ring"></i>
					<h2>More Skills!</h2>
					<ul>
						<li><strong>Unit Testing</strong></li>
						<li><strong>Development Lifecycle</strong></li>
						<li><strong>Database Managment</strong></li>
						<li><strong>Agile Scrum Methodology</strong></li>
					</ul>


				</div>
			</div>
		</div>
	</div>
</div>
<div class="divider">
	<div class="container">
		<div id="coverflow">
			<h2>My Badges!</h2>
			<ul class="flip-items">
				<li data-flip-title="Title 1">
					<img src="/images/coming_soon.jpg">
				</li>
				<li data-flip-title="Title 2">
					<img src="/images/coming_soon.jpg">
				</li>
				<li data-flip-title="Title 3">
					<img src="/images/coming_soon.jpg">
				</li>
				<li data-flip-title="Title 4">
					<img src="/images/coming_soon.jpg">
				</li>
				<li data-flip-title="Title 5">
					<img src="/images/coming_soon.jpg">
				</li>
				<li data-flip-title="Title 6">
					<img src="/images/coming_soon.jpg">
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- portfolio section -->

<div class="container-fluid text-center" id="recentProj">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-sm-12">
			<h2>Most Recent Project</h2>
			<p><strong>A C# Dungeon Game!</strong></p>
		</div>
	</div>

	<div class="row mt30">

		<div class="col">
			<a href="https://github.com/J-Cundiff/DungeonApplication" target="_blank" data-lightbox-gallery="portfolio-gallery">
				<img src="images/Dungeon_image.png" alt="portfolio img">
			</a>
		</div>

		<div class="col-md-12 col-sm-12" id="viewMore">
			<a href="portfolio.html" class="btn btn-default">View More</a>
		</div>

	</div>
</div>
