@{
    ViewData["Title"] = "Portfolio";
}

<!-- portfolio header section -->
<div id="portfolio-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12"></div>
		</div>
	</div>
</div>

<!-- portfolio section -->

<div id="projects">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-sm-12">
				<h2>Projects</h2>
			</div>
		</div>
		 <div class="row project" >
			<div class="col-md-6 col-sm-12">
				<img src="~/images/Dungeon_image.png" class="img-responsive" alt="about img">
			</div>
			<div class="col-md-6 col-sm-12 about-des text-center">
				<h2>A Dungeon App!</h2>
				<p>A C# based console app game. This app was built using the C# fundamentals learned at Centriq using
					custom classes and methods, instances, complex datatypes, polymorphshism, and more.</p>
				<a href="https://github.com/J-Cundiff/DungeonApplication" target="_blank" class="btn btn-default">Visit!</a>
			</div>
		</div>
		 <div class="row project" id="projectDisplay" >
			 <div class="col-md-6 col-sm-12 about-des text-center">
				 <h2>StoreFront</h2>
				 <p>Coming Soon!</p>
				 <!-- <a href="" target="_blank" class="btn btn-default">Visit!</a> -->
				</div>
				<div class="col-md-6 col-sm-12">
					<img src="~/images/portfolio-img1.jpg" class="img-responsive" alt="about img">
				</div>
		</div>
		 <div class="row project" >
			<div class="col-md-6 col-sm-12">
				<img src="~/images/portfolio-img2.jpg" class="img-responsive" alt="about img">
			</div>
			<div class="col-md-6 col-sm-12 about-des text-center">
				<h2>ToDo API</h2>
				<p>Coming Soon!</p>
				<!-- <a href="" target="_blank" class="btn btn-default">Visit!</a> -->
			</div>
		</div>
		 <div class="row project" id="projectDisplay">
			 <div class="col-md-6 col-sm-12 about-des text-center">
				 <h2>React ToDo</h2>
				 <p>Coming Soon!</p>
				 <!-- <a href="" target="_blank" class="btn btn-default">Visit!</a> -->
				</div>
				<div class="col-md-6 col-sm-12">
					<img src="~/images/portfolio-img3.jpg" class="img-responsive" alt="about img">
				</div>
		</div>
		 <div class="row project" >
			<div class="col-md-6 col-sm-12">
				<img src="~/images/portfolio-img4.jpg" class="img-responsive" alt="about img">
			</div>
			<div class="col-md-6 col-sm-12 about-des text-center">
				<h2>S.A.T. App</h2>
				<p>Coming Soon!</p>
				<!-- <a href="" target="_blank" class="btn btn-default">Visit!</a> -->
			</div>
		</div>
		
	</div>
</div>	